services:
  app:
    container_name: odeyalo-backend-app
    restart: on-failure
    build:
      context: .
    # ports:
    #   - "8000:8000"
    expose:
      - "8000"
    networks:
      - odeyalo-network
    env_file:
      - .env

  db:
    container_name: odeyalo-backend-db
    image: public.ecr.aws/docker/library/postgres
    restart: on-failure
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: psycho2
    networks:
      - odeyalo-network
    volumes:
      - ./db-data:/data
    mac_address: 02:42:ac:18:00:02
    command: -p 4321
    expose:
      - "4321"

  backup:
    container_name: odeyalo-backend-backup
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - ./backups:/backups
    environment:
      - POSTGRES_HOST=odeyalo-backend-db
      - POSTGRES_DB=psycho2
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_PORT=4321
      - BACKUP_DIR=/backups
      - BACKUP_KEEP_DAYS=2
      - BACKUP_SUFFIX=.sql.gz
      - SCHEDULE=@daily
    networks:
      - odeyalo-network
    depends_on:
      - db

  celery_worker:
    container_name: odeyalo-backend-celery-worker
    restart: on-failure
    build:
      context: .
    networks:
      - odeyalo-network
    env_file:
      - .env
    command: "celery --app=src.tasks.celery_app:celery_instance worker -l INFO"

  celery_beat:
    container_name: odeyalo-backend-celery-beat
    build:
      context: .
    restart: on-failure
    networks:
      - odeyalo-network
    env_file:
      - .env
    command: "celery --app=src.tasks.celery_app:celery_instance beat -l INFO"

  nginx:
    container_name: odeyalo-backend-nginx
    image: public.ecr.aws/nginx/nginx:latest
    restart: on-failure
    # ports:
    #   - "80:80"
    expose:
      - "80"
    volumes:
      - ./nginx:/etc/nginx/conf.d
    networks:
      - odeyalo-network
    depends_on:
      - app

  redis:
    container_name: odeyalo-backend-redis
    image: public.ecr.aws/docker/library/redis:latest
    restart: on-failure
    volumes:
      - ./redis-data:/data
    networks:
      - odeyalo-network
    depends_on:
      - nginx
    command: --port 6789
    expose:
      - "6789"

networks:
  odeyalo-network:
    name: odeyalo-network
    driver: bridge
